*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 575px){

    body{
       
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(135deg, 
        #C93B76 0%, 
        #4D5562 25%, 
        #212936 50%, 
        #121826a6 75%, 
        #E5E7EB 100%
    );
        grid-area: 
        "header"
        "main"
        "footer";
        grid-auto-columns: 1fr;
        grid-template-rows: auto auto auto;
        display: flex;
        justify-content: center;
        align-items: center;
       height: 100vh;

      
      
    }

    .header{
        grid-area: header;
    }

    .main{
        grid-area: main;
        background-color: #212936;
        

    }

    
    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 300px; 
        height: 450px; 
        overflow: hidden; 
        border: 1px solid white;
        padding: 20px;
        border-radius: 10px;
    }
 

  
    .card img {
        width: 100%;
        height: 100%; 
        object-fit: cover; 
    }

    .card h1{
        color:#e5e7eb;
        text-align: center;
        font-size: 16px;
        padding-top: 16px;
        padding-bottom: 4px;
  
    }

    .card p{
        text-align: center;
        font-size: 12px;
        padding-bottom: 34px;
        color:#4D5562;

    }

    .currentTime{
        font-size:16px;
        color: #ffffff;
        text-align: center;
        
        margin-bottom: 15px;
    }
   

    .footer{
        grid-area: footer;
    }

    .icon-containers{
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        gap: 20px;
        
    }

    .left{
        height: 30px;
        width: 30px;
        cursor: pointer;
        
            }
        
            .center{
                height: 50px;
                width: 50px;
                margin-top: -10px;
                cursor: pointer;
        
            }

            .center:active{
                background-color: rgb(146, 40, 40);
                border-radius: 50%;
            }


            .right{
                height: 30px;
                width: 30px;
                cursor: pointer;
            }

          
}

@media (min-width: 576px){

    body{
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(135deg, 
        #C93B76 0%, 
        #4D5562 25%, 
        #212936 50%, 
        #121826a6 75%, 
        #E5E7EB 100%
    );
    grid-area: 
    "header header header"
    "main  main  main"
    "footer footer footer";
    grid-auto-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
   height: 100vh;

    }

    .header{
        grid-area: header;
    }

    .main{
        grid-area: main;
        background-color: #212936;
        

    }

    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px; 
        height: 550px; 
        overflow: hidden; 
        border: 2px solid white;
        padding: 20px;
        border-radius: 15px;
    }

    .card img {
        width: 100%;
        height: 100%; 
        object-fit: cover; 
        border-radius: 10px;
    }

    .card h1{
        color:#e5e7eb;
        text-align: center;
        font-size: 26px;
        padding-top: 16px;
        padding-bottom: 4px;
  
    }

    .card p{
        text-align: center;
        font-size: 20px;
        padding-bottom: 34px;
        color:#4D5562;

    }


    .currentTime{
        font-size:20px;
        color: #ffffff;
        text-align: center;
        margin-bottom: 15px;
    }
   
    .icon-containers{
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        gap: 20px;
        
    }

    .left{
        height: 30px;
        width: 30px;
        cursor: pointer;
        
            }

            .center{
                height: 50px;
                width: 50px;
                margin-top: -10px;
                cursor: pointer;
        
            }  
            
            .center:hover{
                background-color: rgb(146, 40, 40);
                border-radius: 50%;
            }

            .right{
                height: 30px;
                width: 30px;
                cursor: pointer;
            }

      


}